body {
    background-color: cadetblue;
}

h1 {
    background-color: darkslategrey;
    border: 1px solid greenyellow;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellow;
}